<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBwuvuD2JDRRyS57PHHkuAONWS24cs5vEc</string>
	<key>GCM_SENDER_ID</key>
	<string>97318079046</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vap.smartfinances</string>
	<key>PROJECT_ID</key>
	<string>smart-finances-ddbf3</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-finances-ddbf3.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:97318079046:ios:cfa57535981e05a4741847</string>
</dict>
</plist>